{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<script> 
		function openJournal(journalName) {
			var i;
			var x = document.getElementsByClassName("journal");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			document.getElementById(journalName).style.display = "block";
		}
		function openJournalSection(section) {
			var i;
			var x = document.getElementsByClassName("journal-sect");
			for (i = 0; i < x.length; i++) {
				x[i].style.display = "none";
			}
			document.getElementById(section).style.display = "block";
		}
	</script>
	<style>
		.article-teaser{
			display: block;
			margin: 30px 0;
		}
		.article-descrip{
			text-indent: 20px;
		}
		ul.cloud {
            width: 500px;
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            line-height: 2.5rem;
            margin:auto;
        }
        ul.cloud a[data-weight="1"] { --size: 1; }
        ul.cloud a[data-weight="2"] { --size: 2; }
        ul.cloud a[data-weight="3"] { --size: 3; }
        ul.cloud a[data-weight="4"] { --size: 4; }
        ul.cloud a[data-weight="5"] { --size: 5; }
        ul.cloud a[data-weight="6"] { --size: 6; }
        ul.cloud a[data-weight="7"] { --size: 7; }
        ul.cloud a[data-weight="8"] { --size: 8; }
        ul.cloud a[data-weight="9"] { --size: 9; }
        ul.cloud a {
            --size: attr(data-weight number, 2); 
            font-size: calc(var(--size) * 0.25rem + 0.5rem);
            color: #a33;
            display: block;
            padding: 0.125rem 0.25rem;
            text-decoration: none;
            position: relative;
        }
	</style>
	<h1>Assorted News</h1>
	<nav class="navbar navbar-mid">
		<div class="journal-container">
			<a class= "navbar-brand" href="#" onclick="openJournal('WordCloud')">Word Cloud</a>
			<a class= "navbar-brand" href="#" onclick="openJournal('Bloomberg')">Bloomberg</a>
			<a class= "navbar-brand" href="#" onclick="openJournal('FT')">Financial Times</a>
			<a class= "navbar-brand" href="#" onclick="openJournal('CNBC')">CNBC</a>
			<a class= "navbar-brand" href="#" onclick="openJournal('WSJ')">Wall Street Journal</a>
			<a class= "navbar-brand" href="#" onclick="openJournal('NYT')">NYT</a>
			<a class= "navbar-brand" href="#" onclick="openJournal('WP')">Washington Post</a>
		</div>
	</nav>

	<div id="WordCloud" class="journal">
		<h2>Word Cloud</h2>
		<ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
			{% for word in word_cloud %}
			<li><a data-weight="{{ word_cloud[word] }}" href="{{ url_for('headline_tag', tag=word) }}">{{ word }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<div id="Bloomberg" class="journal" style="display:none">
		<h2>Bloomberg</h2>
		<nav class="navbar navbar-mid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% for sect in bloomberg_sect %}
					<li class="nav navbar-nav"><a class= "navbar-brand" href="#" onclick="openJournalSection('Bloomberg-{{ sect }}')">{{ sect }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		{% for sect in bloomberg_sect %}
		<div id="Bloomberg-{{ sect }}" class="journal-sect" style="display:none">
			<h3>{{ sect }}</h3>
				{% for article in bloomberg_sect[sect] %}
				<div class="article-teaser">
					<h4><a href="{{ url_for('bloom_article',title=article['title'].replace(' ','+'), sect=sect) }}" target="_blank"> {{ article['title'] }}</a></h4>
					<p class="article-descrip"> {{ article['description'] }} </p>
				</div>
				{% endfor %}
		</div>
		{% endfor %}
	</div>

	<div id="FT" class="journal" style="display:none">
		<h2>Financial Times</h2>
		<nav class="navbar navbar-mid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% for sect in ft_sect %}
					<li><a class= "navbar-brand" href="#" onclick="openJournalSection('FT-{{ sect }}')">{{ sect }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		{% for sect in ft_sect %}
		<div id="FT-{{ sect }}" class="journal-sect" style="display:none">
			<h3>{{ sect }}</h3>
				{% for article in ft_sect[sect] %}
				<div class="article-teaser">
					<h4><a href="{{ url_for('ft_article',title=article['title'].replace(' ','+'), sect=sect) }}" target="_blank"> {{ article['title'] }}</a></h4>
					<p class="article-descrip"> {{ article['description'] }} </p>
				</div>
				{% endfor %}
		</div>
		{% endfor %}
	</div>

	<div id="CNBC" class="journal" style="display:none">
		<h2>CNBC</h2>
		<nav class="navbar navbar-mid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% for sect in cnbc_sect %}
					<li><a class= "navbar-brand" href="#" onclick="openJournalSection('CNBC-{{ sect }}')">{{ sect }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		{% for sect in cnbc_sect %}
		<div id="CNBC-{{ sect }}" class="journal-sect" style="display:none">
			<h3>{{ sect }}</h3>
				{% for article in cnbc_sect[sect] %}
				<div class="article-teaser">
					<h4><a href="{{ article['link'] }}" target="_blank"> {{ article['title'] }}</a></h4>
					<p class="article-descrip"> {{ article['desc'] }} </p>
				</div>
				{% endfor %}
		</div>
		{% endfor %}
	</div>

	<div id="WSJ" class="journal" style="display:none">
		<h2>Wall Street Journal</h2>
		<nav class="navbar navbar-mid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% for sect in wsj_sect %}
					<li><a class= "navbar-brand" href="#" onclick="openJournalSection('WSJ-{{ sect }}')">{{ sect }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		{% for sect in wsj_sect %}
		<div id="WSJ-{{ sect }}" class="journal-sect" style="display:none">
			<h3>{{ sect }}</h3>
				{% for article in wsj_sect[sect] %}
				<div class="article-teaser">
					<h4><a href="{{ article['link'] }}" target="_blank"> {{ article['title'] }}</a></h4>
					<p class="article-descrip"> {{ article['desc'] }} </p>
				</div>
				{% endfor %}
		</div>
		{% endfor %}
	</div>

	<div id="NYT" class="journal" style="display:none">
		<h2>New York Times</h2>
		<nav class="navbar navbar-mid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					{% for sect in nyt_sect %}
					<li><a class= "navbar-brand" href="#" onclick="openJournalSection('NYT-{{ sect }}')">{{ sect }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		{% for sect in nyt_sect %}
		<div id="NYT-{{ sect }}" class="journal-sect" style="display:none">
			<h3>{{ sect }}</h3>
				{% for article in nyt_sect[sect] %}
				<div class="article-teaser">
					<h4><a href="{{ article['link'] }}" target="_blank"> {{ article['title'] }}</a></h4>
					<p class="article-descrip"> {{ article['desc'] }} </p>
				</div>
				{% endfor %}
		</div>
		{% endfor %}
	</div>

	<div id="WP" class="journal" style="display:none">
		<h2>Washington Post</h2>
		{% for sect in wp_sect %}
		<h3>{{ sect }}</h3>
			{% for article in wp_sect[sect] %}
			<p> {{ article['title'] }} </p>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
